<%- include('head-admin') %>

<body  class="admin page page-template page-template-template-home-php no-customize-support transparent-header belowheader-menu menu-right-pageheader preload">

<!-- the wrapper for header, footer, and content area -->
<div id="main-wrapper">

<div class="loading-container">
    <div class="body-container">
        <div class="row">
            <div class="large-12 columns" id="content">

                <h2>Create Article</h2>
                <form method="POST" action="/articles/create">
                    title: <input type="text" id="title" name="title" />
                    article:
                    <textarea name="body" rows="4" cols="50"></textarea>
                    <br />
                    <input type="submit" value="Submit" />
                </form>

                <h1>Page: <%= Pg %></h1>
	            <h2>Querystring Value: <%= Qstr %></h2>
                <h2>Users:</h2>
                <ul>
                 
                <% if (Array.isArray(Usrs) && Usrs != "") { for(var i=0; i<Usrs.length; i++) { %>
                    <li><%= Usrs[i].username %></li>
                <%  }} else { %>
                <li>no users yet</li>
                <% } %>
                </ul>
                <h2>Articles:</h2>
                <ul>
                <% if (Array.isArray(Artic) && Artic != "") { for(var i=0; i<Artic.length; i++) { %>
                    <li><%= Artic[i].title %></li>
                <% } } else { %>
                    <li>no articles yet</li>
                <% } %>
                </ul>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%- include('footer') %>