<%- include('header') %>

<div class="loading-container">
    <div class="body-container">
        <div class="row">
            <div class="large-8 columns" id="content">

                <h1><%= Pg %></h1>

                <!--content-->
                <div id="page-content"><%- Cont %></div>
                <br>
                <!--end content-->

                <!--contact form -->
                <form method="POST" action="/contact/send">
                    Email Address:
                    <input type="text" id="email" name="email" />
                    Message:
                    <textarea name="message" rows="4" cols="50"></textarea>
                    <br />
                    <input type="submit" value="Submit" />
                </form>
                <!--end contact form -->


            </div>
            <div class="large-4 columns" id="sidebar">
                <!--sidebar-->
                <%- include('sidebar') %>
                <!--end sidebar-->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%- include('footer') %>